@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu",  sans-serif;
}

body{
    background-color: #000000E8;
    color: #fff;
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.navbar{
    background-color: #000000;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, 0.5);
    position: relative;
}

.navbar .logo{
    position: absolute;
    left: 50px;
    display: flex;
    align-items: center;
}

.navbar .logo h1{
    font-family: "Pacifico", cursive;
    font-weight: 400;
}

.navbar .logo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.navbar ul{
    display: flex;
    align-items: center;
    margin-right: 70px;
}

.navbar ul a{
    text-decoration: none;
    color: #fff;
}

.navbar ul li{
    list-style: none;
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bolder;
    letter-spacing: 0.4px;
}

.navbar ul li i{
    margin-right: 5px;
}

/*main section*/

.hero-image{
    width: 100%;
    height: 500px;
    position: relative;
    animation-name: move;
    animation-duration: 1s;
}

.hero-image img{
    width: 100%;
    height: 100%;
    margin-top: 10rem;
    object-fit: cover;
    box-shadow: 0px 10px 10px 2px rgba(0, 0, 0, 0.5);
}

.hero-image h1{
    position: absolute;
    top: 65%;
    left: 25%;
    font-size: 4rem;
    font-family: "Acme", sans-serif;
    font-weight: 400;
    animation-name: move;
    animation-duration: 1s;
}

.hero-image p{
    position: absolute;
    top: 82%;
    left: 30%;
    color: #000;
    text-transform: uppercase;
    animation-name: move;
    animation-duration: 1s;
}

.hero-image p span{
    color: #FF1616;
}

/*product section*/

.head{
    margin-top: 15rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 3rem;
}

.head h1{
    font-family: "Acme", sans-serif;
    letter-spacing: 5px;
    animation-name: move;
    animation-duration: 1s;
}

.products{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.product{
    width: 45%;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.5);
    background: #515151E0;
    transition: 1s;
    animation-name: move;
    animation-duration: 1s;
}

.product img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 15px;
}

.product:hover{
    box-shadow: 10px 10px 40px 8px rgba(0, 0, 0, 0.8), -10px -10px 40px 8px rgba(0, 0, 0, 0.8);
    transform: scale(1.02);
}

.product-details{
    padding: 10px;
    text-align: left;
}

.product-details p{
    font-family: "Pacifico", cursive;
    font-size: 1.3rem;
    color: #F6F6F6;
}

.product-details h1{
    font-size: 1.5rem;
    font-family: "Winky Rough", sans-serif;
    padding: 5px;
}

.product-details .ratings{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.product-details .ratings span{
    margin-right: 5px;
}

.product-details .ratings i{
    font-size: 1.2rem;
    margin-left: 2px;
}

.product-details h2{
    font-size: 1.8rem;
    font-family: "Winky Rough", sans-serif;
    padding: 5px;
    letter-spacing: 2px;
}

@keyframes move {
    0%{
        opacity: 0;
        transform: translateY(4rem);
    }
    50%{
        opacity: 50%;
    }
    100%{
        opacity: 100%;
    }
}

/*contact section*/

#contact{
    margin-top: 5rem;
    background-color: #434343ED;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.contact-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 20px;
}

.contact-section h1{
    margin-bottom: 3rem;
    font-size: 4rem;
}

.contact-section .contact-input{
    margin: 10px;
    position: relative;
}

.contact-section .contact-input p{
    position: absolute;
    top: 10px;
    left: 18px;
    background: #434343ED;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    transition: 1s ease-in-out;
}

.contact-section .contact-input input{
    width: 500px;
    height: 40px;
    padding-left: 18px;
    outline: none;
    background: transparent;
    color: #fff;
    border: 1px solid #000;
    border-radius: 0.5rem;
}

.contact-section .contact-input:hover p{
    top: -10px;
}

.contact-section .btn{
    margin-top: 2rem;
}

.contact-section .btn button{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    text-transform: uppercase;
    transition: all 0.4s ease-in-out;
}

.contact-section .btn button:hover{
    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.5), -3px -3px 10px 2px rgba(0, 0, 0, 0.5);
}

.footer{
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}




















@media (max-width: 455px) {
.navbar{
    height: 40px;
    box-shadow: 0px 10px 25px 2px rgba(0, 0, 0, 0.5);
}

.navbar ul{
    margin-right: 20px;
}

.navbar ul li{
    margin-left: 8px;
    font-size: 0.5rem;
    letter-spacing: 0.6px;
}

.navbar .logo{
    left: 20px;
}

.navbar .logo h1{
    font-weight: 200;
    font-size: 1rem;
}

.navbar .logo img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

/*main section*/

.hero-image{
    height: 300px;
}

.hero-image img{
    margin-top: 5rem;
}

.hero-image h1{
    top: 60%;
    left: 21%;
    font-size: 2rem;
}

.hero-image p{
    top: 75%;
    left: 26%;
    font-size: 0.3rem;
}










}

