@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu",  sans-serif;
}

body{
    background-color: rgb(42, 42, 43);
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 16, 16);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.7);
}

.navbar .logo{
    display: flex;
    align-items: center;
    color: whitesmoke;
    margin: 0px 10px;
}

.logo h1{
    font-size: 30px;
    font-family: "Pacifico", cursive;
    font-weight: 400;
}

.logo img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0px 10px;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    letter-spacing: 1px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: "Acme", sans-serif;
}

.navbar ul a{
    text-decoration: none;
    color: whitesmoke;
}

.navbar ul li{
    color: whitesmoke;
    margin: 0px 10px;
    list-style: none;
    position: relative;
}

.navbar ul li::after{
    width: 0;
    height: 2px;
    content: " ";
    background-color: gainsboro;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: -2px 0px;
    transition: 0.5s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.navbar ul li i{
    font-size: 10px;
    margin: 0px 4px;
}


/*hero image section*/

#hero{
    margin-top: 100px;
    padding: 0px 20px;
    text-align: center;
}

.hero-image{
   position: relative;
}

.hero-image img{
    width: 85%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.text{
    position: absolute;
    top: 45%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.text h1{
    width: 100%;
    font-size: 40px;
    font-weight: 500;
    font-family: "Winky Rough", sans-serif;
    color: #9e802c;
    line-height: 35px;
}

.text p{
    font-size: 10px;
    font-weight: 400;
    font-family: "Acme", sans-serif;
    color: #232323;
    letter-spacing: 1px;
}

.hero-image .text p span{
    color: red;
}

/*product section start here*/

#product{
    margin-top: 50px;
    padding: 0px 20px;
}

#product .head{
    text-align: center;
    color: ghostwhite;
    margin: 20px 0px;
    font-size: 30px;
    font-weight: 400;
    font-family: "Acme", sans-serif;
}

#product .products-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.products-list .product{
    width: 20%;
    padding: 5px 5px;
    border: 1px solid rgba(11, 11, 11, 0.923);
    border-radius: 10px;
    background-color: rgba(71, 69, 69, 0.88);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(20px);
    margin: 10px 10px;
    position: relative;
    color: ghostwhite;
    transition: 5ms;
}

.products-list .product:hover{
    scale: 1.03;
}

.product img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.product .product-details{
    padding: 5px 3px;
}

.product .product-details p{
    font-size: 12px;
    font-family: "Pacifico", cursive;
    font-weight: 500;
}

.product .product-details h1{
    font-size: 20px;
    font-family: "Acme", sans-serif;
    font-weight: 100;
}

.product .product-details .ratings{
    display: flex;
    align-items: center;
}

.product .product-details .ratings span{
    font-size: 12px;
    font-weight: 200;
    margin-right: 5px;
}

.product .product-details .ratings i{
    font-size: 10px;
    letter-spacing: 3px;
    color: rgb(105, 104, 104);
}

.product .product-details .ratings i.checked{
    color: rgb(218, 217, 217);
}

.product .product-details h2{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2px;
    margin: 2px 5px;
}

.product .cart-btn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #e3e1dc;
    padding: 8px;
    border: none;
    border-radius: 50%;
}

.cart-btn:hover{
    background-color: #a8a7a3;
    color: #9e802c;
}

.product .cart-btn button{
    background-color: transparent;
    border:  none;
}

.product .cart-btn button i{
    color: #cfa42d;
}


/*contact section start here*/

#contact{
    margin-top: 40px;
    width: 100%;
    background-color: rgb(62, 62, 62);
}

#contact .contact-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

.contact-section h1{
    font-size: 30px;
    font-weight: 400;
    font-family: "Acme", sans-serif;
    margin: 20px 0px;
}

.contact-section .contact-input{
    margin: 10px 0px;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contact-input input{
    width: 80%;
    height: 40px;
    border: 1px solid black;
    outline: none;
    border-radius: 10px;
    padding-left: 23px;
    background-color: rgb(62, 62, 62);
    transition: 0.2s ease-in;
}

.contact-input input:focus{
    border: 1px solid white;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.4);
}

.contact-input p{
    position: absolute;
    top: 10px;
    left: 90px;
    color: ghostwhite;
    background-color: rgb(62, 62, 62);
    text-transform: uppercase;
    font-family: "Winky Rough", sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding: 0px 5px;
    transition: 0.5s;
}

.contact-input:hover p{
   top: -13px;
}

.contact-section .btn{
    margin: 20px 0px;
}

.btn button{
    font-size: 16px;
    font-weight: 400;
    padding: 3px 20px;
    background-color: #e6b328;
    color: whitesmoke;
    text-transform: uppercase;
    font-family: "Winky Rough",  sans-serif;
    border: none;
}

.btn button:hover{
    border-radius: 8px;
}

.hover{
    background-color: #9e802c;
    color: #b9b9b8;
}

/*social media links section*/

#social-links{
    background-color:transparent;
    backdrop-filter: blur(30px);
    color: white;
}

#social-links .container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
}

.container .icons{
    margin: 0px 15px;
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    border-radius: 50%;
    font-family: "Pacifico", cursive;
    text-align: center;
    transition: 0.3s ease-in;
}

.container .icons:nth-child(1):hover{
    box-shadow: 0px 0px 20px 8px rgba(45, 45, 245, 0.3);
    background-color: rgba(46, 46, 239, 0.88);
}

.container .icons:nth-child(2):hover{
    box-shadow: 0px 0px 20px 8px rgba(24, 24, 24, 0.748);
    background-color: rgba(19, 19, 19, 0.758);
}

.container .icons:nth-child(3):hover{
    box-shadow: 0px 0px 20px 8px rgba(36, 247, 92, 0.3);
    background-color: rgba(59, 233, 91, 0.773);
}

.container .icons:nth-child(4):hover{
    box-shadow: 0px 0px 20px 8px rgba(249, 70, 35, 0.899);
    background-color: rgba(243, 10, 10, 0.974);
}

/*cart section start here*/

#cart{
    position: fixed;
    top: 45px;
    left: -100%;
    background-color: #3b3a3a9d;
    backdrop-filter: blur(20px);
    height: 100%;
    transition: 0.3s ease-in;
}

.cart-container{
    position: relative;
}

.cart-container .close-icon{
    height: 25px;
    width: 25px;
    position: absolute;
    top: -20px;
    right: 20px;
    background-color: rgba(226, 227, 227, 0.686);
    backdrop-filter: blur(10px);
    padding: 5px 5px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-container .cart-content{
    margin-top: 40px;
    padding: 0px 10px;
}

.cart-content .head{
    text-align: center;
    color: whitesmoke;
    padding: 10px 0px;
    font-size: 24px;
}

.cart-content .head h1{
    font-family: "Winky Rough", sans-serif;
    letter-spacing: 1.02px;
}

.cart-box .product{
    display: flex;
    align-items: center;
    justify-content: center;
    color: ghostwhite;
    padding: 10px;
    border: 0.5px solid ghostwhite;
    margin: 5px 0px;
}

.cart-box .product img{
    width: 60px;
    height: 90px;
}

.cart-box .product .product-details{
    padding: 0px 10px;
}

.cart-box .product .product-details p{
    color: rgba(237, 236, 236, 0.984);
}

.cart-box .product .product-details h1{
    font-size: 14px;
}

.cart-box .product .product-details h2{
    font-size: 13px;
    letter-spacing: 0;
}

.total-price{
    text-align: right;
    color: whitesmoke;
    padding: 8px 0px 0px 0px;
    margin-top: 5px;
    border-top: 1px solid white;
}

.buybtn{
    text-align: center;
    margin: 5px 0px;
}

.buybtn button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #232323;
    background-color: #a8a7a3;
    font-family: "Winky Rough", sans-serif;
    font-weight: 400;
    transition: 0.4s ease-in;
}

.buybtn button:hover{
    border-radius: 10px;
    background-color: #ddddda;
    scale: 1.05;
    box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.4);
}

/*footer section start here*/

.footer{
    background-color: #232323;
    color: whitesmoke;
    font-size: 10px;
    font-weight: 200;
    font-family: "Winky Rough", sans-serif;
    text-align: center;
    padding: 10px 0px;
    letter-spacing: 1px;
}

/*responsoveness secttion*/

@media  screen and (max-width: 555px) {

.navbar{
    width: 100%;
}
.logo h1{
    font-size: 25px;
}

.navbar ul{
    margin: 0px 5px;
    letter-spacing: 0px;
    font-size: 10px;
}

.navbar ul li{
    margin: 0px 5px;
}

.navbar ul li i{
    font-size: 9px;
}

/*hero image section*/

#hero{
    margin-top: 80px;
    padding: 0px 10px;
}

.hero-image img{
    height: 200px;
    border-radius: 5px;
}

.text{
    top: 35%;
}

/*product section start here*/

#product{
    margin-top: 20px;
    padding: 0px 10px;
}

#product .head{
    font-size: 25px;
}

.products-list .product{
    width: 90%;
}

.product .cart-btn{
    bottom: 10px;
    right: 10px;
}

/*contact section start here*/

.contact-section .contact-input{
    width: 80%;
}

.contact-input p{
    position: absolute;
    top: 10px;
    left: 50px;
}

/*social media links section*/

#social-links .container{
    padding: 30px 0px;
}
}